@use '../global/variables.scss' as *;
@use '../global/mixins.scss' as *;

.background-section {
  @include fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../images/terrazzo-background.jpg');
  z-index: -1;
}

// Border
.border {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  z-index: 1;
  &__wrapper {
    width: auto;
    height: 100%;
    max-width: var(--site-width-xl);
    position: relative;
    display: block;
  }
  &__bar {
    width: 100%;
    height: 2rem;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: var(--melon);
    &--top {
      @extend .border__bar;
    }
    &--right {
      @extend .border__bar;
      height: 100%;
      width: 2rem;
      left: auto;
      right: 0;
    }
    &--bottom {
      @extend .border__bar;
      top: auto;
      bottom: 0;
    }
    &--left {
      @extend .border__bar;
      @extend .border__bar;
      height: 100%;
      width: 2rem;
    }
  }
}

// Cutout Plants
.plants {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  &--front {
    @extend .plants;
    z-index: 2;
  }
  &__wrapper {
    width: auto;
    height: 100%;
    max-width: var(--site-width-xl);
    position: relative;
    display: block;
  }
}

// Cutout Plants
.plant {
  position: absolute;
  width: 100%;
  height: auto;
  overflow: hidden;
  &--0 {
    max-width: 150px;
    bottom: -20px;
    left: -30px;
    @include tablet-landscape-up {
      bottom: -7%;
      left: -5%;
      max-width: 300px;
    }
  }
  &--1 {
    max-width: 150px;
    bottom: -20px;
    left: -30px;
    @include tablet-landscape-up {
      bottom: -20%;
      left: 30%;
      max-width: 250px;
    }
  }
  &--2 {
    max-width: 150px;
    bottom: -20px;
    right: -30px;
    @include tablet-landscape-up {
      bottom: -5%;
      right: -5%;
      max-width: 600px;
    }
  }
}

// Ticker
@keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}

.ticker {
  width: 300%;
  position: fixed;
  top: 0;
  left: 0;
  &--blue {
    @extend .ticker;
    background-color: var(--azure);
  }
  &--pink {
    @extend .ticker;
    background-color: var(--hot-pink);
  }
  &__list {
    width: 100%;
    padding: 0.5rem 0;
    // @include flex;
    // animation: ticker 15s infinite linear;
  }
  &__item {
    line-height: 1;
    margin-bottom: 0;
    letter-spacing: 4px;
    color: var(--black-dark);
    font-family: var(--title-font-family);
    font-size: 10rem;
    display: inline;
    margin-right: 1rem;
  }
}
